<!DOCTYPE html>
<html>

<head>
    <title>MyBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"></script>
</head>

<body>
    <!-- for pc -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex justify-content-left">
           <div><a class="navbar-brand" href="/">MyBook</a></div>
            <div class="navbar-nav ">
                <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-outline-light">Our Questions</button></a>
            </div>
            <div class="navbar-nav ">
                <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-outline-light">Help us improve</button></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-outline-light"><i class="fas fa-sign-in-alt"></i> Login</button></a>
                <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-outline-light"><i class="fas fa-user-plus"></i> Signup</button></a>
                <a class="nav-item nav-link" href="#"><button type="button" class="btn btn-outline-light"><i class="fas fa-unlock"></i> Forgot-Password</button></a>
            </div>
        </div>
    </nav>


    <div class="jumbotron jumbotron1 jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-white jtitle">Make list of your Problems</h1>
            <hr>
            <p class="lead text-white jpara text-justify ">It often happens that you visit a problem, appreciate it and wants to save for yourself. MyBook allows you to save your favourite problems for yourself. Just click and add. </p>
            <a href="#"><button type="button" class="btn btn-success btn-lg btn-block "><span class="jh1">Start Adding</span></button></a>
        </div>
    </div>

    
    <div class="row d-flex ">
        <div class="colcolor col-lg-4 col-lg-41 col-md-4 col-sm">
                    <h1 class="h1 text-white text-center pt-2">Step-1</h1>
                    <p class="lead text-white text-center">Login.</p>
        </div>
        <div class="colcolor col-lg-4 col-lg-41 col-md-4 col-sm">
            
                    <h1 class="h1 text-white text-center pt-2">Step-2</h1>
                    <p class="lead text-white text-center">Add your questions.</p>
        </div>
        <div class="colcolor col-lg-4 col-lg-41 col-md-4 col-sm">
            
                    <h1 class="h1 text-white text-center pt-2">Step-3</h1>
                    <p class="lead text-white text-center">There is no step-3.</p>
        </div>
    </div>

    <div class="row2">
        <div class="container container2">
            <div class="row  d-flex justify-content-between">
            
                <div class="col-lg-4 col-md-4 col-sm">
                    <h1 class="h4 text-white text-left pt-2 pl-5 ul">Contact us:</h1>
                    <ul  class="mt-42">
                        <li  class="text-white h8 pl-2"><i class="fas fa-phone"></i> +917054443300</li>
                        <li class="text-white h8 pl-2 flex-row"><i class="fas fa-envelope"></i> akashverma.mec18@itbhu.ac.in</li>
                        <li class="text-white h8 pl-2 flex-row"><i class="fas fa-envelope"></i> vermakash.1.2.9@gmail.com</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm">
                    <h1 class="h4 text-white text-left pt-2 pl-5 ul">Supports:</h1>
                    <ul class ="mt-42">
                        <li class="text-white h8 pl-2">Competetive Programming</li>
                        <li class="text-white h8 pl-2">Web Development</li>
                        <li class="text-white h8 pl-2">Android/IOS development</li>
                        <li class="text-white h8 pl-2">Internet of things</li>
                        <li class="text-white h8 pl-2">Machine Learning</li>
                        <li class="text-white h8 pl-2">etc....</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm">
                    <h1 class="h4 text-white text-left pt-2 pl-5 ul">Connect with us:</h1>
                    <ul class ="mt-42 connectwithus-ul">
                        <li class="text-white h3 pl-2"><i class="fab fa-facebook"></i></li>
                        <li class="text-white h3 pl-2"><i class="fab fa-instagram-square"></i></li>
                        <li class="text-white h3 pl-2"><i class="fab fa-twitter-square"></i></li>
                    </ul>
                </div>
            
            </div>
        </div>
    </div>


    <!-- for mobile -->

    <div></div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>

