<%- include("./partials/header.ejs") %>

for pc -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md col-sm ml-auto mr-auto"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-8 border ml-auto mr-auto">
            <form class="pl-3 pr-3">
                <div class="form-group text-center mt-4">
                    <label class="text-dark h4" for="exampleInputEmail1">Username:</label>
                    <input class="" type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group text-center">
                    <label class="text-dark h4" for="exampleInputPassword1">Password:</label>
                    <input class="" type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
                <div class="text-center mb-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md col-sm ml-auto mr-auto"></div>
    </div>
</div>


<!-- for mobile
<%- include("./partials/footer.ejs") %>