<%- include("./partials/header.ejs") %>

<!-- for pc --> 
<div class="container text-center">
    <div class="row">
        <div class="col-lg-3 col-md col-sm ml-auto mr-auto"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-8 ml-auto mr-auto">
            <a href="/Signup">
                <button type="button"class="btn mb-2 text-light btn-google btn-lg btn-block"> <span class="">Sign in as</span> <i class="fab ml-4 fa-google-plus-g"></i></button>
            </a>
            <a href="/Signup">
                <button type="button" class="btn mb-2 text-light btn-fb btn-lg btn-block"> <span class="">Sign in as</span> <i class="fab ml-3 fa-facebook-f"></i></button>
            </a>

            <div class="border">
                <form class="pl-3 pr-3" action="/login" method="POST">
                    <div class="form-group text-center mt-4">
                        <label class="text-dark h4" for="exampleInputEmail1">Username:</label>
                        <input class="" type="text" name="username" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group text-center">
                        <label class="text-dark h4" for="exampleInputPassword1">Password:</label>
                        <input class="" type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <!-- <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div> -->
                    <div class="text-center mb-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            <div class="justify-content-end d-flex"><h4 class="mt-2 mr-2 text-white">or </h4><a href="/Signup"><button type="button" class="btn btn-primary border-dark mt-2 mr-1">Signup</button></a></div>
        </div>
        <div class="col-lg-3 col-md col-sm ml-auto mr-auto"></div>

    </div>
</div>



<%- include("./partials/footer.ejs") %>